<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FluoEnable" value="1" />
    <add key="QREnable" value="1" />
    <add key="PrintEnable" value="1" />
    <!--FluoParam-->
    <add key="FluoParam" value="180|0|0|8|1|1|0|0|1|1|0|1|0|0|300|300|300|300|32|51|100|76|160|126|10|51|100" />
    <!--荧光端口号-->
    <add key="FluoPort" value="COM8" />
    <!--荧光电机端口号-->
    <add key="FluoMotorPort" value="COM1" />
    <!--内置扫码器端口号-->
    <add key="QRPort" value="COM4" />
    <!--外置扫码器端口号-->
    <add key="QRMPort" value="COM2" />
    <!--打印机端口号-->
    <add key="PrintPort" value="COM3" />
    <!--自动打印开关-->
    <add key="AutoPrint" value="1" />
    <!--定标批号-->
    <add key="LotNo" value="16153" />
    <!--反应时间-->
    <add key="ReactionTime" value="5" />
    <!--是否显示鼠标-->
    <add key="Cursor" value="1"/>
    <!--休眠时间，0表示不休眠,30表示30s-->
    <add key="SleepTime" value="300"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>